<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>My Site</title>
  <link rel="stylesheet" href="../../assets/css/common.css">
  <link rel="stylesheet" href="../../assets/css/login.css">

</head>
<body>
  
  <div id="wrap">
    <!---------- 헤더 ---------->
    <div id="header_login" class="clearfix">
      <h1><a href="../../main/main.html">MySite</a></h1>
    </div>
    <!---------- 로그인 ---------->
    <div id="login" class="clearfix">
      <form action="#" method="get">
        <div class="txt_id">
          <input type="text" name="id" value="" placeholder="  아이디">
        </div>
        <div class="txt_pw">
          <input type="password" name="pw" value="" placeholder="  비밀번호">
        </div>
        <div class="btn"
          ><button type="submit">로그인</button>
        </div>
      </form>
    </div>
      <!---------- 컨텐츠 ---------->
      <div id="etc_btn" class="clearfix">
        <ul>
          <li><a href="">아이디 찾기</a></li>
          <li><a href="">비밀번호 찾기</a></li>
          <li><a href="../user/register.html">회원가입</a></li>
        </ul>
      </div>    
    <!---------- 푸터 ---------->
    <div id="footer">
      <p>Copyright ⓒ 2021 유승범. All rights reserved</p>
    </div>
  </div>
</body>
</html>