<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>MySite</title>
  <link rel="stylesheet" href="../../assets/css/common.css">
  <link rel="stylesheet" href="../../assets/css/gallery_write.css">
</head>
<body>
  <div id="wrap">
    <!---------- 해더 ---------->
    <div id="header" class="clearfix">
      <!---------- 사이트 로고 ---------->
      <h1><a href="../main/main.html">MySite</a></h1>
      <!---------- 로그인 & 회원가입 링크 ---------->
      <ul class="clearfix">
        <li><a href="../user/login.html">로그인</a></li>
        <li><a href="../user/register.html">회원가입</a></li>
      </ul>
    </div>
    <!---------- 네비게이션 ---------->
    <div id="nav">
      <ul class="clearfix">
        <li><a href="../info/info01.html">입사지원서</a></li>
        <li><a href="../board/board01.html">게시판</a></li>
        <li><a href="../gallery/gallery01.html">갤러리</a></li>
        <li><a href="">방명록</a></li>
      </ul>
    </div>
    <!------------------ 컨텐츠 ------------------>
    <div id="content" class="clearfix">
      <!---------- 왼쪽메뉴 ---------->
      <div id="aside">
        <h2>
          갤러리
        </h2>
        <ul>
          <li><a href="../gallery/gallery01.html">사진갤러리</a></li>
          <li><a href="../gallery/gallery02.html">배경갤러리</a></li>
          <li><a href="../gallery/gallery03.html">동물갤러리</a></li>
        </ul>
      </div>
      <!---------- main_head 영역 ---------->
      <div id="main">
        <div id="main_head" class="clearfix">
          <h3>
            동물갤러리
          </h3>
          <ul class="clearfix">
            <li>홈</li>
            <li>갤러리</li>
            <li class= "last">동물갤러리</li>
          </ul>
        </div>
        <!---------- 갤러리 박스 ---------->      
        <div id="main_body">
          <div id="gallery_box">
            <!---------- 갤러리 헤드 ---------->
            <div id="gallery_head">
              <a href="../gallery/gallery03.html">동물갤러리 ></a>
              <h2>귀여운 고양이</h2>
              <img src="../../assets/img/who.png">
              <ul>
                <li>유승범</li>
                <li>2021.05.17 14:22</li>
              </ul>
            </div>
            <!---------- 갤러리 본문 ---------->
            <img width="100%" src="https://cdn.hellodd.com/news/photo/202005/71835_craw1.jpg">
          </div>
        </div>
      </div>
    </div>
    <!--=============== 컨텐츠 ===============-->
    <!---------- 푸터 ---------->
    <div id="footer">
      <p>Copyright ⓒ 2021 유승범. All rights reserved</p>
    </div>
  </div>
</body>
</html>