<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>MySite</title>
  <link rel="stylesheet" href="../../assets/css/common.css">
  <link rel="stylesheet" href="../../assets/css/write.css">
  <link rel="stylesheet" href="../../assets/css/info_write.css">

</head>
<body>
  <div id="wrap">
    <!---------- 해더 ---------->
    <div id="header" class="clearfix">
      <!---------- 사이트 로고 ---------->
      <h1><a href="../main/main.html">MySite</a></h1>
      <!---------- 로그인 & 회원가입 링크 ---------->
      <ul class="clearfix">
        <li><a href="../user/login.html">로그인</a></li>
        <li><a href="../user/register.html">회원가입</a></li>
      </ul>
    </div>
    <!---------- 네비게이션 ---------->
    <div id="nav">
      <ul class="clearfix">
        <li><a href="../info/info01.html">입사지원서</a></li>
        <li><a href="../board/board01.html">게시판</a></li>
        <li><a href="../gallery/gallery01.html">갤러리</a></li>
        <li><a href="">방명록</a></li>
      </ul>
    </div>
    <!---------- 이력서 작성 ---------->
    <div id="write_box" class="clearfix">
      <!---------- 이력서 해드 ---------->
        <div id="info_header">
          <h2>개인기본정보</h2>
        </div>
        <!---------- 이력서 상단 ---------->
        <div id="info_body">
          <div id="info_top" class="clearfix">
            <div id="info_profile">
              <img src="../../assets/img/photo_sample.gif">
              <button type="submit">사진등록</button>
            </div>
            <div id="myinfo">
              <div id="myname" class="clearfix">
                <p>유승범</p>
                <p>남자 25세 / 1997년생</p>
              </div>
              <table>
                <tr>
                  <th>주소</th>
                  <td>서울 강남구 서초동</td>
                </tr>
                <tr>
                  <th>휴대폰</th>
                  <td>010-5000-1234</td>
                </tr>
                <tr>
                  <th>이메일</th>
                  <td>dbtmdqja207@naver.com</td>
                </tr>
              </table>
            </div>
          </div>
        <!---------- 이력서 제목 ---------->
          <div id="info_title" class="clearfix">
            <form action="#" method="get">
              <label for="info_title01">이력서 제목</label>
              <input type="text" name="title" id="info_title01">
            </form>
          </div>
          
          <div id="resume">
            <form action="" method="get">
              <label for="">111</label>
              <input type="text" name="" id="">
            </form>
          </div>


        </div>
        
    </div>
    <!---------- 푸터 ---------->
    <div id="footer">
      <p>Copyright ⓒ 2021 유승범. All rights reserved</p>
    </div>
  </div>
</body>
</html>